@font-face {
    font-family: 'Source Sans Pro';
    src: url('~@/assets/fonts/source-sans-pro-300.woff2') format('woff2'),
        url('~@/assets/fonts/source-sans-pro-300.woff') format('woff');
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('~@/assets/fonts/source-sans-pro-regular.woff2') format('woff2'),
        url('~@/assets/fonts/source-sans-pro-regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('~@/assets/fonts/source-sans-pro-600.woff2') format('woff2'),
        url('~@/assets/fonts/source-sans-pro-600.woff') format('woff');
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src:  url('~@/assets/fonts/source-sans-pro-700.woff2') format('woff2'),
        url('~@/assets/fonts/source-sans-pro-700.woff') format('woff');
    font-display: swap;
    font-weight: 700;
}
