body {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 1.4rem;
}

.heading-primary {
}

.heading-secondary {
}

.heading-tertriary {
}

.text-primary {
}

.text-secondary {
}

.text-small {
    font-size: 1.2rem;
}

.text-small-thick {
    font-size: 1.2rem;
    font-weight: 800;
}
