.radio {
    outline: none;
    display: inline-flex;
    align-items: center;

    & + .radio {
        margin-left: 0.5em;
    }
    input[type='radio'] {
        display: none;

        + .check {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 1.7rem;
            height: 1.7rem;

            border: 1px solid $color-grey-ultra-dark;
            border-radius: 5rem;
            transition: background 0.3s ease;

            &:before {
                content: '';
                border-radius: 50%;
                width: 1.1rem;
                height: 1.1rem;
                background: var(--color-primary);
                background: $color-purple;
                transform: scale(0);
                transition: transform 0.3s ease;
            }
        }

        &:checked + .check {
            border-color: var(--color-primary);
            border-color: $color-purple;

            &:before {
                transform: scale(1);
            }
        }
    }
    .control-label {
        padding-left: 0.5em;
    }

    &[disabled] {
        opacity: 0.5;
    }

    &:hover {
        input[type='radio'] + .check {
            border-color: var(--color-primary);
            border-color: $color-purple;
        }
    }

    &:focus {
        input[type='radio'] + .check {
            box-shadow: 0 0 0.5em $color-grey-ultra-dark 0.8;
        }
        input[type='radio']:checked + .check {
            box-shadow: 0 0 0.5em $color-grey-ultra-dark 0.8;
        }
    }
}
