.tab-item {
    position: relative;
    display: block;

    &:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width 0.7s ease, background-color 0.7s ease;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.tab-item .router-link-active {
    color: var(--color-primary);
    color: $color-purple;
    background: none;
}

.tab-item > a {
    display: block;
    color: $color-grey-ultra-dark;
}

.tab-item > a:active,
.tab-item > a:hover {
    color: var(--color-primary);
    color: $color-purple;
}

.tab-item__active:after {
    width: 100%;
    background: var(--color-primary);
    background: $color-purple;
}

.tab-item__small > a {
    padding: 0.2rem 0;
}

.tab-item__medium > a {
    padding: 1rem 0;
}

.tab-item__large > a {
    padding: 2.6rem 1.25rem 2.4rem 1.25rem;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-primary-light);
    color: $color-purple-light;
}
